body, .help
{
	font-family:Verdana;
	font-size:10pt;
}
.helpitem 
{
	font-size:9pt;

}
.helphead
{
	color:#777777;
	font-weight:bold;
	text-align:center;
}
.help
{	
	position:absolute;
	top:-1000px;
	overflow:scroll;
	width:400px;
	height:400px;
	border:2px solid black;
}


.mapdiv 
{
	background-color:#EEEEEE;	
}

.headerdiv 
{
	margin:0px; 
	padding:1px;
	background-color:#EEEEEE;	
}
.footerdiv 
{
	margin:0px; 
	padding:1px;
	background-color:#EEEEEE;	
}
.zoombox 
{
	background-color:White;
	color:Blue;	
}

.infotitle
{
	background-color: #444444;
	color: white;
	padding: 1px;
	border: 2px solid black;
	border-top: 2px solid silver;
	border-left: 2px solid silver;
	text-indent: 2px;
}

.footer 
{
	font-size:10pt;
	font-weight:bold;
	color:White;
	vertical-align:middle;
	
}


.buttonselected_false, .buttonselected_true, .button
{
	background-repeat:no-repeat;
	padding-left:5px;
	padding-right:5px;
	color:Black;
	background-color:#EEEEEE;
	border-left:1px solid #FFFFFF;
	border-top:1px solid #FFFFFF;
	border-right:1px solid #777777;
	border-bottom:1px solid #777777;
}
.buttonselected_false 
{
	padding-left:20px;
	padding-right:5px;
	background-image:url("images/buttonselect_false.gif");
}

.buttonselected_true 
{
	padding-left:20px;
	padding-right:5px;
	background-image:url("images/buttonselect_true.gif");
}