<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="DBConnection" value="Data Source=192.168.9.41;Initial Catalog=SentinelFM;Persist Security Info=True;User ID=sa;Password=BSMwireless1;"/>
    <add key="TemplateFile" value="c:\Inetpub\wwwroot\SentinelFM\Configuration\WorkingHour\Brickman\Brickman - CAR - New.xlsx"/>
    <add key="ReportPath" value="c:\Inetpub\wwwroot\SentinelFM\Configuration\WorkingHour\Brickman\"/>
  </appSettings>
  <system.web>
    <xhtmlConformance  mode ="Transitional" />
    <trace localOnly="true"/>
  </system.web>
</configuration>
