<?xml version="1.0"?>
<configuration>
      <system.web>
        <xhtmlConformance  mode ="Transitional" />
      </system.web>
      <appSettings>
        <add key="HOSImagePath" value="\\10.10.110.102\hos\Images\" />
      </appSettings>
 <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxQueryString="8000"/>
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>
