<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
    <appSettings/>
  <connectionStrings>
    <add name="InfoStoreConnectionString"
          connectionString="Data Source=192.168.9.41;Initial Catalog=SFM_InfoStore;UID=sa;PWD=BSMwireless1;
        Persist Security Info=True;MultipleActiveResultSets=False;" providerName="System.Data.SqlClient"/>



    <add name="ActiveStateConnectionString"
       connectionString="Data Source=192.168.9.41;Initial Catalog=SFM_ActiveState;UID=sa;PWD=BSMwireless1;
        Persist Security Info=True;MultipleActiveResultSets=False;" providerName="System.Data.SqlClient" />
  </connectionStrings>
    <system.web>
          <xhtmlConformance  mode ="Transitional" />
          <trace enabled ="false" pageOutput ="false"  />
    </system.web>
</configuration>
