@{
    ViewBag.Title = "Sentinel Mobile";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<h2>Logging to Mobile app...</h2>

<form action="/mobile/login" autocomplete="off" method="post">    <ul data-role="listview" data-inset="false" style="border:none;max-width:280px;margin:0 auto;">
        
        <li data-role="fieldcontain" style="text-align:center;border:none;background:none !important;">            
            <input data-val="true" data-val-required="The User name field is required." id="UserName" name="UserName" placeholder="User name" type="text" value="hgi_cn" />            
        </li>

        <li data-role="fieldcontain" style="text-align:center;border:none;background:none !important;">
            <input data-val="true" data-val-required="The Password field is required." id="Password" name="Password" placeholder="Password" type="password" value="na" />            
        </li>

        <li data-role="fieldcontain" style="display:none;">
            <label for="RememberMe">Remember me?</label>
            <input data-val="true" data-val-required="The Remember me? field is required." id="RememberMe" name="RememberMe" type="checkbox" value="true" /><input name="RememberMe" type="hidden" value="false" />
        </li>
        
        <li data-role="fieldcontain" style="text-align:center;border:none;background:none !important;">
            <input type="submit" value="Log in" data-theme="h" onclick="setHashPassword();" />
        </li>        
    </ul>
    
    <input id="txtRnd" type="hidden" value='' name="txtRnd">
    <input id="HashPassword" name="HashPassword" type="hidden" value="ab14cb2d0fd40295ef3f694cc1a175c8" /><div class="validation-summary-valid" data-valmsg-summary="true"><ul><li style="display:none"></li>
</ul></div></form>

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            jQuery.support.cors = true;
            $.ajax({
                type: 'GET',
                url: '/FetchSession.aspx',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                async: false,
                success: function (msg) {
                    alert(msg);
                    var r = eval('(' + msg.d + ')');
                    
                },
                error: function (msg) {
                    alert('error:' + msg);
                }
            });
        });
    </script>
}
