<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MapsoluteProxy.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <MapsoluteProxy.Properties.Settings>
            <setting name="Mapsolute_map24Geocoder_Map24Geocoder" serializeAs="String">
                <value>http://maptp32.map24.com/map24/webservices1.5?soap=Map24Geocoder</value>
            </setting>
            <setting name="Mapsolute_map24Geocoder51_Map24Geocoder51"
                serializeAs="String">
                <value>http://maptp32.map24.com/map24/webservices1.5?soap=Map24Geocoder51</value>
            </setting>
            <setting name="Mapsolute_map24RenderEngine_Map24RenderEngine"
                serializeAs="String">
                <value>http://maptp32.map24.com/map24/webservices1.5?soap=Map24RenderEngine</value>
            </setting>
            <setting name="Mapsolute_map24ReverseGeocoder_Map24ReverseGeocoder"
                serializeAs="String">
                <value>http://maptp32.map24.com/map24/webservices1.5?soap=Map24ReverseGeocoder</value>
            </setting>
        </MapsoluteProxy.Properties.Settings>
    </applicationSettings>
</configuration>