<div ng-controller="SARouteStationCtrl">
<div>
    <!-- Search Route Station content-->
    Station:<input ng-model="filterForStation.Tag" placeholder="Station name or number"/>
</div>
<br />
<div>
    <div class="buttonbar">
        <a href="" ng-show="CanNewStation()" ng-click="EditRouteStation(0)" class="imgbutton">
            <span class="imgbuttonicon imgbuttonnew">New</span>
        </a> 
        <a href="" ng-hide="CanEditStation()" ng-click="EditRouteStation()" class="imgbutton">
            <span class="imgbuttonicon imgbuttonedit">Edit</span>
        </a> 
        <a href="" ng-hide="CanDeleteStation()" ng-click="DeleteRouteStation()" class="imgbutton">
            <span class="imgbuttonicon imgbuttondelete">Delete</span>
        </a> 
    </div>    
    <div ng-show="IsStationInit()">Please select a Route.</div>
    <div ng-show="IsStationNoData()">No Data.</div>
    <div ng-show="IsStationLoading()">Loading....</div>
    <div ng-show="HaveStationData()">
   <!--Station body-->
    <table>
        <tr class="tableRow">
            <th>Station</th>
            <th>Station Number</th>
            <th>Arrival On</th>
            <th>Departure On</th>
            <th>Delivery Type</th>
            <th>Description</th>
        </tr>
        <tr class="tableRow" ng-class="{extable_current:IsCurrentStation({{rs.RouteStationId}}), extable_uncompleted:IsUncompletedStation({{rs.RouteStationId}})}" 
            ng-click="SelectRouteStation({{rs.RouteStationId}})" ng-class-odd="'ItemOdd'" ng-class-even="'ItemEven'"
            ng-repeat="rs in StationList | filter:filterForStation:strict | orderBy:'ArrivalTime'">
            <td>{{rs.StationName}}</td>
            <td>{{rs.StationNumber}}</td>
            <td>{{rs.ArrivalTime| date:'medium'}}</td>
            <td>{{rs.DepartureTime| date:'medium'}}</td>
            <td>{{rs.DeliveryType}}</td>
            <td>{{rs.Description}}</td>
        </tr>
        <thead></thead>
    </table>
    </div>
</div>
</div>
