<div ng-controller="ScheduleGroupCtrl">
<div>
    <!-- Search Group content-->
    Search:<input ng-model="filterForGroup.Tag" placeholder="Enter a Date" style="width:100px" />
    <span class="buttonbar">
        <a href="" ng-click="EditGroup(0)" class="imgbutton">
            <span class="imgbuttonicon imgbuttonnew">New</span>
        </a> 
    </span>
</div>
<br />
<div>
    <div ng-show="IsGroupNoData()">No Data.</div>
    <div ng-show="IsGroupLoading()">Loading....</div>
    <div ng-show="HaveGroupData()">
    <!--Group body-->
    <dl class="exlist"   
        ng-repeat="group in GroupList | filter:filterForGroup:strict | orderBy:'-ScheduleBeginDate'">
        <dt class="exlist-head">
			<img ng-src='{{group.IsOpen | ListOpenIcon}}' ng-click="SelectGroup({{group.GroupId}})" alt="expand" style="cursor:hand" />
            <span class="exlist-head-title">From {{group.ScheduleBeginDate | date:'mediumDate'}} To {{group.ScheduleEndDate|date:'mediumDate'}}</span>
            <div class="buttonbar" ng-class="{exlist_hidden:IsHiddenButton({{group.GroupId}})}">
                <a href="" ng-hide="CanEditGroup({{group.GroupId}})" ng-click="EditGroup({{group.GroupId}})" class="imgbutton">
                    <span class="imgbuttonicon imgbuttonedit">Edit</span>
                </a> 
                <a href="" ng-click="CopyGroup({{group.GroupId}})" class="imgbutton">
                    <span class="imgbuttonicon imgbuttonCopy">Copy</span>
                </a> 
                <a href="" ng-hide="CanDeleteGroup({{group.GroupId}})" ng-click="DeleteGroup({{group.GroupId}})" class="imgbutton">
                    <span class="imgbuttonicon imgbuttondelete">Delete</span>
                </a> 
                <a href="" ng-show="CanImportGroup({{group.GroupId}})" ng-click="ImportGroup({{group.GroupId}})" class="imgbutton">
                    <span class="imgbuttonicon imgbuttonImport">Import</span>
                </a> 
            </div>
        </dt>
        <dd class="exlist-body" ng-class="{exlist_hidden:IsHiddenButton({{group.GroupId}})}">
            <div ng-show="IsScheduleNoData({{group.GroupId}})">No Data.</div>
            <div ng-show="IsScheduleLoading({{group.GroupId}})">Loading....</div>
            <div ng-show="HaveScheduleData({{group.GroupId}})"> 
            <p>{{group.Description}}</p> 
            <dl class="exlist exlist_Schedule" ng-class="{exlist_current:IsCurrentSchedule({{schedule.ScheduleId}})}" 
                ng-click="SelectSchedule({{group.GroupId}}, {{schedule.ScheduleId}})"
                ng-repeat="schedule in group.ScheduleList | orderBy:'ScheduleBeginDate'">
                <dt class="exlist-head">
                    <span class="exlist-head-title">{{schedule.ScheduleBeginDate| date:'mediumDate'}}</span>
                    <span class="buttonbar">
                        <a href="" ng-click="CopySchedule({{group.GroupId}}, {{schedule.ScheduleId}})" class="imgbutton">
                            <span class="imgbuttonicon imgbuttonCopy">Copy</span>
                        </a> 
                    </span>
                </dt>
            </dl>
            </div>
        </dd>
    </dl>
    </div>
</div>
</div>