<?xml version="1.0"?>
<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">
	<configSections>
		<sectionGroup name="system.web.extensions" type="System.Web.Configuration.SystemWebExtensionsSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
			<sectionGroup name="scripting" type="System.Web.Configuration.ScriptingSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
				<section name="scriptResourceHandler" type="System.Web.Configuration.ScriptingScriptResourceHandlerSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication" />
				<sectionGroup name="webServices" type="System.Web.Configuration.ScriptingWebServicesSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
					<section name="jsonSerialization" type="System.Web.Configuration.ScriptingJsonSerializationSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="Everywhere" />
					<section name="profileService" type="System.Web.Configuration.ScriptingProfileServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication" />
					<section name="authenticationService" type="System.Web.Configuration.ScriptingAuthenticationServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication" />
					<section name="roleService" type="System.Web.Configuration.ScriptingRoleServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication" />
				      <section name="TelogisMap.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
				</sectionGroup>
			</sectionGroup>
		</sectionGroup>
		<sectionGroup name="enyim.com">
			<section name="memcached" type="Enyim.Caching.Configuration.MemcachedClientSection, Enyim.Caching" />
		</sectionGroup>
		<section name="memcached" type="Enyim.Caching.Configuration.MemcachedClientSection, Enyim.Caching" />
	</configSections>
	<connectionStrings>
		<!--
		<add name="SentinelFMConnection" connectionString="Data Source=dev3\dev;Initial Catalog=SentinelFM;Persist Security Info=True;UID=sa;PWD=BSMwireless1;MultipleActiveResultSets=False;Packet Size=4096;" />
		-->
		<add name="SentinelFMConnection" connectionString="Data Source=dev3\dev;Initial Catalog=SentinelFM;Persist Security Info=True;UID=sa;PWD=BSMwireless1;MultipleActiveResultSets=False;Packet Size=4096;" />

		<add name="SentinelFMStaging" connectionString="Data Source=dev3\dev;Initial Catalog=SentinelFM;Persist Security Info=True;UID=sa;PWD=BSMwireless1;MultipleActiveResultSets=False;Packet Size=4096;" />
		<!--
		<add name="SentinelFMConnectionString" connectionString="Data Source=dev3\dev;Initial Catalog=SentinelFM;Persist Security Info=True;UID=sa;PWD=BSMwireless1;MultipleActiveResultSets=False;Packet Size=4096;" />
		-->

		<add name="SentinelFMConnectionString" connectionString="Data Source=dev3\dev;Initial Catalog=SentinelFM;Persist Security Info=True;UID=sa;PWD=BSMwireless1;MultipleActiveResultSets=False;Packet Size=4096;" />

		<add name="SentinelHOSConnectionString" connectionString="Data Source=dev3\rpt;Initial Catalog=SentinelHOS;UID=sa;PWD=BSMwireless1;Pooling=true;Max Pool Size=300;Persist Security Info=True;" providerName="System.Data.SqlClient"/>
			<add name="DBReportConnectionString" connectionString="Initial Catalog=SentinelFM;Data Source=dev3\rpt;User ID=sa;Password=BSMwireless1;Pooling=true;Max Pool Size=300;"/>
		<add name="DWH" connectionString="Data Source=dev3\rpt;Initial Catalog=SentinelFM;Persist Security Info=True;UID=sa;PWD=BSMwireless1;MultipleActiveResultSets=False;Packet Size=4096;"/>
         	<add name="RapidLogConnectionString" connectionString="Data Source=10.10.110.124;Initial Catalog=RapidLog;UID=RapidLogUser;PWD=rapid.42;Pooling=true;Max Pool Size=300;Persist Security Info=True;" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<system.web>
    <webServices>
      <protocols>
        <add name="HttpGet" />
        <add name="HttpPost" />
      </protocols>
    </webServices>
    <httpRuntime maxRequestLength="1048576" executionTimeout="3600" />
		<pages enableSessionState="true" enableViewState="true" enableViewStateMac="true" autoEventWireup="true">
			<controls>
				<add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add tagPrefix="asp" namespace="System.Web.UI.WebControls" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
			<add tagPrefix="telerik" namespace="Telerik.Web.UI" assembly="Telerik.Web.UI" />
                        <add tagPrefix="SentinelFM" assembly="SentinelFM.Controls" namespace="SentinelFM.Controls"/> 
			</controls>
		</pages>
		<!--  DYNAMIC DEBUG COMPILATION
          Set compilation debug="true" to enable ASPX debugging.  Otherwise, setting this value to
          false will improve runtime performance of this application. 
          Set compilation debug="true" to insert debugging symbols (.pdb information)
          into the compiled page. Because this creates a larger file that executes
          more slowly, you should set this value to true only when debugging and to
          false at all other times. For more information, refer to the documentation about
          debugging ASP .NET files.
    -->
		<!-- 
			Set compilation debug="true" to insert debugging 
			symbols into the compiled page. Because this 
			affects performance, set this value to true only 
			during development.
		--><compilation debug="true" defaultLanguage="c#">
			<assemblies>
				<add assembly="System.Design, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />

				<add assembly="System.Configuration.Install, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add assembly="System.ServiceProcess, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add assembly="System.Runtime.Remoting, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
				<add assembly="System.Windows.Forms, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="CrystalDecisions.CrystalReports.Engine, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
        <add assembly="CrystalDecisions.Shared, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
        <add assembly="CrystalDecisions.ReportSource, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
        <add assembly="CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
        <add assembly="CrystalDecisions.ReportAppServer.ClientDoc, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />

				<add assembly="System.DirectoryServices, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />

				<add assembly="System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
				<add assembly="System.Xml, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
				<add assembly="System.Data, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
				<add assembly="System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add assembly="System.Drawing, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add assembly="System.Data.SqlXml, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
				<add assembly="System.Core, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
				<add assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add assembly="System.Xml.Linq, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
				<add assembly="System.Data.DataSetExtensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
				<add assembly="ISNet.WebUI, Version=3.0.5000.1, Culture=neutral, PublicKeyToken=B1F2A8511635667A" />
				<add assembly="ISNet, Version=3.0.5000.1, Culture=neutral, PublicKeyToken=b1f2a8511635667a" />

				<!--
				<add assembly="System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			-->
				<add assembly="System.Speech, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add assembly="System.Data.Linq, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />

				 <add assembly="Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
			        <add assembly="Microsoft.ReportViewer.Common, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />

			</assemblies>
				
		</compilation>
		<!--  CUSTOM ERROR MESSAGES
          Set customError mode values to control the display of user-friendly 
          error messages to users instead of error details (including a stack trace):

          "On" Always display custom (friendly) messages  
          "Off" Always display detailed ASP.NET error information.
          "RemoteOnly" Display custom (friendly) messages only to users not running 
          on the local Web server. This setting is recommended for security purposes, so 
          that you do not display application detail information to remote clients.
    -->
		<customErrors mode="Off" />
		<!--  AUTHENTICATION 
          This section sets the authentication policies of the application. Possible modes are "Windows", "Forms", 
          "Passport" and "None"
    -->
		<!--<authentication mode="Windows"/> -->
		<!--
			The <authentication> section enables configuration 
			of the security authentication mode used by 
			ASP.NET to identify an incoming user. 
		--><authentication mode="Forms">
			<forms name="UserAutenticated" loginUrl="frmLoginRedirect.htm" timeout="30" slidingExpiration="true" protection="All" path="/">
			</forms>
		</authentication>
		<!--	
	<authorization>
		<deny users ="?" />
	</authorization>
	-->
		<!--  APPLICATION-LEVEL TRACE LOGGING
          Application-level tracing enables trace log output for every page within an application. 
          Set trace enabled="true" to enable application trace logging.  If pageOutput="true", the
          trace information will be displayed at the bottom of each page.  Otherwise, you can view the 
          application trace log by browsing the "trace.axd" page from your web application
          root. 
    -->
		<trace enabled="false" requestLimit="10" pageOutput="false" traceMode="SortByTime" localOnly="true" />
		<!--  SESSION STATE SETTINGS
          By default ASP .NET uses cookies to identify which requests belong to a particular session. 
          If cookies are not available, a session can be tracked by adding a session identifier to the URL. 
          To disable cookies, set sessionState cookieless="true".
    -->
		<sessionState mode="InProc" stateConnectionString="tcpip=127.0.0.1:42424" sqlConnectionString="data source=127.0.0.1;user id=sa;password=" cookieless="false" timeout="20" />
		<!--  GLOBALIZATION
          This section sets the globalization settings of the application. 
    -->
		<globalization requestEncoding="utf-8" responseEncoding="utf-8" culture="en-US" uiCulture="en-US" />
		<xhtmlConformance mode="Transitional" />
		<!--
			The <customErrors> section enables configuration 
			of what to do if/when an unhandled error occurs 
			during the execution of a request. Specifically, 
			it enables developers to configure html error pages 
			to be displayed in place of a error stack trace.

		<customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
			<error statusCode="403" redirect="NoAccess.htm" />
			<error statusCode="404" redirect="FileNotFound.htm" />
		</customErrors>
		--><httpHandlers>
			<add path="CrystalImageHandler.aspx" verb="GET" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=10.2.3600.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
			<add path="BusyBoxDotNet.axd" verb="*" type="BusyBoxDotNet.ResourceHttpHandler, BusyBoxDotNet" />
			<add path="ISRes.axd" verb="GET" type="ISNet.WebUI.WebResourceHandler, ISNet.WebUI, Version=3.0.5000.1, Culture=neutral, PublicKeyToken=b1f2a8511635667a" validate="true" />
			<add path="ISChart.axd" verb="GET, POST" type="ISNet.WebUI.WebGrid.Chart.ChartRequestHandler, ISNet.WebUI.WebGrid" validate="true" />
			<remove verb="*" path="*.asmx" />
			<add verb="*" path="*.asmx" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
			<add verb="*" path="*_AppService.axd" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
			<add verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" validate="false" />
			<add path="Telerik.Web.UI.DialogHandler.aspx" type="Telerik.Web.UI.DialogHandler" verb="*" validate="false" />
			<add path="Telerik.Web.UI.SpellCheckHandler.axd" type="Telerik.Web.UI.SpellCheckHandler" verb="*" validate="false" />
			<add path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" verb="*" validate="false" />
			<add path="ChartImage.axd" type="Telerik.Web.UI.ChartHttpHandler" verb="*" validate="false" />
			<add path="Telerik.RadUploadProgressHandler.ashx" type="Telerik.Web.UI.RadUploadProgressHandler" verb="*" validate="false" />
			<add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" validate="false" />
		</httpHandlers>
		<httpModules>
			<add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
			<add name="RadCompression" type="Telerik.Web.UI.RadCompression" />
      <add name="DirectRequestModule" type="Ext.Net.DirectRequestModule, Ext.Net" />
		</httpModules>
	</system.web>
	<system.diagnostics>
		<switches>
			<add name="tsMain" value="3" />
			<add name="tsReports" value="1" />
		</switches>
	</system.diagnostics>
	<!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    --><system.webServer>
		<validation validateIntegratedModeConfiguration="false" />
		<modules>
			<remove name="ScriptModule" />
			
			<remove name="RadCompression" /><add name="ScriptModule" preCondition="managedHandler" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
			<add name="RadCompression" type="Telerik.Web.UI.RadCompression" preCondition="integratedMode,runtimeVersionv2.0" />
		</modules>
		<handlers>
			
			<remove name="ChartImage_axd" />
			<remove name="Telerik_Web_UI_SpellCheckHandler_axd" />
			<remove name="Telerik_Web_UI_DialogHandler_aspx" />
			<remove name="Telerik_RadUploadProgressHandler_ashx" />
			<!--<remove name="Telerik_Web_UI_WebResource_axd" /><add name="RadCompression" type="Telerik.Web.UI.RadCompression" />-->
			<remove name="ScriptHandlerFactory" />
			<remove name="ScriptHandlerFactoryAppServices" />
			<remove name="ScriptResource" />
			<remove name="WebServiceHandlerFactory-Integrated" />
			<add name="ScriptHandlerFactory" verb="*" path="*.asmx" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
			<add name="ScriptHandlerFactoryAppServices" verb="*" path="*_AppService.axd" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
			<add name="ScriptResource" preCondition="integratedMode" verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
			<add name="IntersoftResource" path="ISRes.axd" verb="GET" preCondition="integratedMode" type="ISNet.WebUI.WebResourceHandler, ISNet.WebUI, Version=3.0.5000.1, Culture=neutral, PublicKeyToken=b1f2a8511635667a" xmlns="" />
			<add name="Telerik_Web_UI_SpellCheckHandler_axd" path="Telerik.Web.UI.SpellCheckHandler.axd" type="Telerik.Web.UI.SpellCheckHandler" verb="*" preCondition="integratedMode,runtimeVersionv2.0" />
			<add name="Telerik_Web_UI_DialogHandler_aspx" path="Telerik.Web.UI.DialogHandler.aspx" type="Telerik.Web.UI.DialogHandler" verb="*" preCondition="integratedMode,runtimeVersionv2.0" />
			<add name="Telerik_Web_UI_WebResource_axd" path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" verb="*" preCondition="integratedMode,runtimeVersionv2.0" />
			<add name="ChartImage_axd" path="ChartImage.axd" type="Telerik.Web.UI.ChartHttpHandler" verb="*" preCondition="integratedMode,runtimeVersionv2.0" />
			<add name="Telerik_RadUploadProgressHandler_ashx" path="Telerik.RadUploadProgressHandler.ashx" type="Telerik.Web.UI.RadUploadProgressHandler" verb="*" preCondition="integratedMode,runtimeVersionv2.0" />
		</handlers>
	<security>
		<requestFiltering>
			<requestLimits maxAllowedContentLength="1073741824" /></requestFiltering></security>
	</system.webServer>
	<location allowOverride="true" inheritInChildApplications="true">
		<appSettings file="">
			<clear />
					      <add key="aspnet:MaxHttpCollectionKeys" value="20000000" />
      <add key="aspnet:MaxJsonDeserializerMembers" value="20000000" />


			<add key="DefaultLogo" value="ProdLogo.gif" />
			<add key="HOS_WS.HOSFileRetriver" value="http://10.10.110.210/HOSWS/HOSFileRetriver.asmx"/>
<add key="SuperOrganizationPermitted" value="-1"/>

  <add key="DefaultCompanyURL" value="frmHome.aspx" />
  <add key="OutMapPointURL" value="http://localhost/SentinelFM/" />
  <add key="OutGeoMicroURL" value="http://192.168.0.11/GeoMicroMapService/" />
  <add key="SchInterval" value="60" />
  <add key="SchPeriod" value="600" />
  <add key="MaxGeoZonePoints" value="10" />


<!--<add key="MapType" value="0"></add>-->
				<!--<add key="InMapPointURL" value="http://localhost/SentinelFM/"></add>-->
				
				<!--<add key="OutMapPointURL" value="http://209.167.249.79/"></add>-->
				<add key="InMapPointURL" value="http://localhost/"></add>
				<add key="OutMapPointURL" value="http://206.222.88.200/"></add>
				

				<add key="OutGeoMicroURL" value="http://206.222.88.203/GeoMicroMapService/"></add>
				<add key="InGeoMicroURL" value="http://192.168.8.16/GeoMicroMapService/"></add>

				
			

					
				<add key="ReportFolder" value="Reports\TmpReports\"></add>
				<add key="LogFolder" value="C:\SentinelFM\LOG1"></add>
				<add key="ReportsOutputPathURL" value="TmpReports/"></add>
				<add key="ReportsOutputPath" value="TmpReports\"></add>
				<add key="ReportsDataSetPath" value="Datasets"></add>
				<add key="ImagesPath" value="\images"></add>
				<add key="serverPath" value="C:\Inetpub\wwwroot\SentinelFMPre\"> </add>

      <add key="SMTPServer" value="10.10.110.204"/>
      <add key="UserName" value="SentinelFM"/>
      <add key="Password" value="sentinel"/>
      <add key="pwd" value="BSM4mail"/>






<!--

    <add key="SentinelFM.LocationMgr.Location" value="http://192.168.9.23/ASINEW/Interfaces/Location.asmx" />
    <add key="SentinelFM.SecurityManager.SecurityManager" value="http://192.168.9.23/ASINEW/Interfaces/SecurityManager.asmx" />
    <add key="SentinelFM.ServerAlarms.Alarms" value="http://192.168.9.23/ASINEW/Interfaces/Alarms.asmx" />
    <add key="SentinelFM.ServerDBHistory.DBHistory" value="http://192.168.9.23/ASINEW/Interfaces/DBHistory.asmx" />
    <add key="SentinelFM.ServerDBOrganization.DBOrganization" value="http://192.168.9.23/ASINEW/Interfaces/DBOrganization.asmx" />
    <add key="SentinelFM.ServerDBUser.DBUser" value="http://192.168.9.23/ASINEW/Interfaces/DBUser.asmx" />
    <add key="SentinelFM.ServerDBVehicle.DBVehicle" value="http://192.168.9.23/ASINEW/Interfaces/DBVehicle.asmx" />
    <add key="SentinelFM.ServerDBFleet.DBFleet" value="http://192.168.9.23/ASINEW/Interfaces/DBFleet.asmx" />
    <add key="SentinelFM.ServerDBSystem.DBSystem" value="http://192.168.9.23/ASINEW/Interfaces/DBSystem.asmx" />
    <add key="SentinelFM.ServerDBDriver.DBDriver" value="http://192.168.9.23/ASINEW/Interfaces/DBDriver.asmx"/>
    <add key="SentinelFM.DBGarmin.Garmin" value="http://192.168.9.23/ASINEW/Interfaces/Garmin.asmx"/>
    <add key="SentinelFM.CrystalRpt.CrystalRpt" value="http://192.168.9.61/ASIReports/Interfaces/CrystalRpt.asmx"/>
    <add key="SentinelFM.ServerReports.Reports" value="http://192.168.9.61/ASIReports/Interfaces/Reports.asmx" />

      

    
   --> 


    <add key="SentinelFM.LocationMgr.Location" value="http://localhost:53931/Interfaces/Location.asmx" />
    <add key="SentinelFM.SecurityManager.SecurityManager" value="http://localhost:53931/Interfaces/SecurityManager.asmx" />
    <add key="SentinelFM.ServerAlarms.Alarms" value="http://localhost:53931/Interfaces/Alarms.asmx" />
    <add key="SentinelFM.ServerDBHistory.DBHistory" value="http://localhost:53931/Interfaces/DBHistory.asmx" />
    <add key="SentinelFM.ServerDBOrganization.DBOrganization" value="http://localhost:53931/Interfaces/DBOrganization.asmx" />
    <add key="SentinelFM.ServerDBUser.DBUser" value="http://localhost:53931/Interfaces/DBUser.asmx" />
    <add key="SentinelFM.ServerDBVehicle.DBVehicle" value="http://localhost:53931/Interfaces/DBVehicle.asmx" />
    <add key="SentinelFM.ServerDBFleet.DBFleet" value="http://localhost:53931/Interfaces/DBFleet.asmx" />
    <add key="SentinelFM.ServerDBSystem.DBSystem" value="http://localhost:53931/Interfaces/DBSystem.asmx" />
    <add key="SentinelFM.ServerDBDriver.DBDriver" value="http://localhost:53931/Interfaces/DBDriver.asmx"/>
    <add key="SentinelFM.DBGarmin.Garmin" value="http://localhost:53931/Interfaces/Garmin.asmx"/>


    <add key="SentinelFM.CrystalRpt.CrystalRpt" value="https://ureports.sentinelfm.com/ASIReports/Interfaces/CrystalRpt.asmx"/>
    <add key="SentinelFM.ServerReports.Reports" value="https://ureports.sentinelfm.com/ASIReports/Interfaces/Reports.asmx" />
 



    






      <!-- <add key="SentinelFM.Resolver.Resolver" value="http://192.168.9.9/Resolver.asmx"/>-->
     <add key="SentinelFM.Resolver.Resolver" value="http://10.10.110.212:81/Resolver.asmx"/>

    <add key="MapAjaxProxy" value="http://10.10.110.202/ASI/Interfaces/mapAjax.asmx" />



<!--<add key="SentinelFM.ReportingServices.ReportingServices" value="http://10.10.110.213/ASIReports/Interfaces/ReportingServices.asmx"/>-->
<add key="SentinelFM.ReportingServices.ReportingServices" value="https://ureports.sentinelfm.com/ASIReports/Interfaces/ReportingServices.asmx"/>





	
	<add key="SentinelLite_URL" value="http://sentinelfm.com/lite/lite.aspx?sn={0}"/>
	<add key="SentinelLite_SharedFolder" value="C:\SentinelFM\SharedFolder\"/>


      <add key="MAP24ID" value="PRT_BSM"/>
      <add key="MAP24IP" value="65.110.160.135"/>
      <add key="SentinelFM.map24Applet.Map24MapletRemoteControl" value="http://192.168.9.50/BSM/webservices1.5?soap=Map24MapletRemoteControl"/>


  <add key="CrystalImageCleaner-AutoStart" value="true" />
  <add key="CrystalImageCleaner-Sleep" value="60000" />
  <add key="CrystalImageCleaner-Age" value="120000" />

   <add key="MapExternalPath" value="http://65.110.160.136/"/>
   <add key="MapInternalPath" value="http://localhost/"/>


		<add key="GeoMicroMapExternalPath" value="http://65.110.160.135/"/>
	        <add key="GeoMicroMapInternalPath" value="http://192.168.9.50/"/>


<add key="DefaultMapId" value="8"/>
		<add key="DefaultGeocodeId" value="8"/>
   <add key="DomainName" value="www.sentinelfm.com" />	
   <add key="MapRelativePath" value="../Maps/" />
   <add key="MapIconIp" value="10.10.110.201"/>
 <add key="DataSetPath" value="\Datasets" />


   <add key="ISNet.WebUI.WebGrid.v6_0_7200.RunTimeLicenseKey" value="6UYGW-J5B7-6G7A8" />
   <add key="ISNet.WebUI.WebTreeView.v1_0_1500.RunTimeLicenseKey" value="87X3B-YC7X-3K2E7" />
   <add key="ISNet.WebUI.WebInput.v3_0_7200.RunTimeLicenseKey" value="Q6EP2-FXN8-52VDW" />
   <add key="ISNet.WebUI.WebDesktop.v2_5_2007.RunTimeLicenseKey" value="YGU7D-80MH-UB4B6" />
   <add key="ISNet.WebUI.WebCombo.v4_0_7200.RunTimeLicenseKey" value="J84D8-P6ON-R88W4" />
   <add key="ISNet.WebUI.WebGrid.v7_0_7200.RunTimeLicenseKey" value="AJVT4-31UC-H1P6A" />
   <add key="ISNet.WebUI.WebDesktop.v3_0_7200.RunTimeLicenseKey" value="7DP4B-E284-NJEHS" />


<!-- VE Settings -->
			<add key="VE_UserName" value="137836"/>
			<add key="VE_password" value="Virtualearth1!"/>
			<add key="VE_bsmurl" value="205.178.152.156"/>
			<add key="VE_TokenValidityDurationMinutes" value="10"/>

			<add key="OrganizationsWithNewMessagesScreen" value="694;" />	

			<add key="Telerik.ScriptManager.TelerikCdn" value="Enabled" />
			<add key="Telerik.StyleSheetManager.TelerikCdn" value="Enabled" />


				   <add key="DisableReports" value="false"/>
        		    <add key="DisableFullHistoryData" value="false"/>
		<add key="displayProcessedStandardReports" value="false"/>
	<add key="HydroQuebecLink" value="hq.sentinelfm.com" />
<add key="PreproductionSentinelFmDB" value="Data Source=UAT3\DEV;Initial Catalog=SentinelFM;User ID=sa;Password=BSMwireless1;Pooling=true;Max Pool Size=300;"/>
<add key="PreproductionDB" value="Data Source=UAT3\DEV;Initial Catalog=SentinelFM;User ID=sa;Password=BSMwireless1;Pooling=true;Max Pool Size=300;"/>
<add key="SpatialDB" value="Server=192.168.199.16;Port=5432;User Id=postbsm1;Password=Access2ge0;Database=geomark;Pooling=true"/>
<add key="SpatialDBProduction" value="Server=10.10.110.204;Port=5432;User Id=postbsm1;Password=Access2ge0;Database=geomark;Pooling=true"/>
<add key="SentinelFMConnection" value="Initial Catalog=SentinelFM;Data Source=dev3\dev;User ID=sa;Password=BSMwireless1;Pooling=true;Max Pool Size=300;"/>
<add key="DBReportConnectionString" value="Data Source=dev3\rpt;Initial Catalog=SentinelFM;Persist Security Info=True;UID=sa;PWD=BSMwireless1;MultipleActiveResultSets=False;Packet Size=4096;"/>
<add key="ReeferOrganizationId" value="1000047;1000173;"/>
<add key="ReeferDashboardDefaultTimeRange" value="24"/>
<add key="SearchHistoryAddressByWebservice" value="0" />
<add key="geoserver" value="http://ugeomap.sentinelfm.com:9090/geoserver/wms" />
<add key="geoserverSSL" value="https://ugeomap.sentinelfm.com/geoserver/wms" />


      <add key="RapidLog" value="1" />
      <add key="RapidLogImageFolder" value="\\10.10.110.124\imagefolder$\123" />
      <add key="RapidLogUser" value="DEV\drapidlog" />
      <add key="RapidLogPassword" value="Dr4p1dl0g!" />
<!--      <add key="InspectionImageUpload" value="\\10.10.110.210\imagefolder$\InspectionUpload" /> -->
      <add key="UsernameCriteria" value="true"/>
      <add key="RapidLogFTPInspectionRoot" value="/InspectionUpload" />
      <add key="RapidLogFTPSite" value="drapidlog.sentinelfm.com" />
      <add key="RapidLogFTPUser" value="ftpuser" />
      <add key="RapidLogFTPPassword" value="k;gF75!" />
      <add key="BiPublicDashboard" value="/public/BSM_Public/Dashboards"/>
      <add key="BiPublicReports" value="/public/BSM_Public/Standard_Reports"/>
      <add key="BiPublicAdHoc" value="/public/BSM_Public/Standard_Views"/>
      <add key="BiOrganizationDashboard" value="/Dashboards"/>
      <add key="BiOrganizationReports" value="/organizations"/>
      <add key="BiDemo" value="/public/Samples/Reports"/>

		</appSettings>
	</location>
	<system.codedom>
		<compilers>
			<compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CSharp.CSharpCodeProvider,System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" warningLevel="4" compilerOptions="/d:DEBUG;TRACE;">
				<providerOption name="CompilerVersion" value="v3.5" />
				<providerOption name="WarnAsError" value="false" />
			</compiler>
			<compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.VisualBasic.VBCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" warningLevel="4">
				<providerOption name="CompilerVersion" value="v3.5" />
				<providerOption name="OptionInfer" value="true" />
				<providerOption name="WarnAsError" value="false" />
			</compiler>
		</compilers>
	</system.codedom>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Extensions" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Extensions.Design" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<enyim.com>
		<memcached>
			<servers>
				<!-- put your own server(s) here-->
				<!--
				<add address="192.168.199.66" port="11211" />
				-->
				<add address="10.10.110.206" port="11211" />
			</servers>
			<socketPool minPoolSize="10" maxPoolSize="100" connectionTimeout="00:00:10" deadTimeout="00:02:00" />
		</memcached>
	</enyim.com>
	<memcached keyTransformer="Enyim.Caching.TigerHashTransformer, Enyim.Caching">
		<servers>
			<add address="127.0.0.1" port="20002" />
			<add address="127.0.0.1" port="20004" />
			<add address="127.0.0.1" port="20006" />
			<add address="127.0.0.1" port="20008" />
		</servers>
		<socketPool minPoolSize="2" maxPoolSize="100" connectionTimeout="00:00:10" deadTimeout="00:02:00" />
	</memcached>

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="httpbasic" closeTimeout="00:01:00" openTimeout="00:01:00"
          receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false"
          bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferSize="20000000" maxBufferPoolSize="20000000" maxReceivedMessageSize="20000000"
          messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
          useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="20000000" maxArrayLength="20000000"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
      <netTcpBinding>
        <binding name="NetTcpBinding_IAeconXAS" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" transactionFlow="false" transferMode="Buffered" transactionProtocol="OleTransactions" hostNameComparisonMode="StrongWildcard" listenBacklog="10" maxBufferPoolSize="524288" maxBufferSize="65536" maxConnections="10" maxReceivedMessageSize="65536">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false"/>
          <security mode="None">
            <transport clientCredentialType="Windows" protectionLevel="EncryptAndSign"/>
            <message clientCredentialType="Windows"/>
          </security>
        </binding>
      </netTcpBinding>

      <wsHttpBinding>
        <binding name="httpws" closeTimeout="00:01:00" openTimeout="00:01:00"
          receiveTimeout="00:10:00" sendTimeout="00:01:00" bypassProxyOnLocal="false"
          transactionFlow="false" hostNameComparisonMode="StrongWildcard"
          maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text"
          textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00"
            enabled="true" />
          <security mode="None">
            <transport clientCredentialType="Windows" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="Windows" negotiateServiceCredential="true" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
  <client>
        <endpoint address="http://10.10.110.209/GeomarkService.svc/httpbind"
        binding="wsHttpBinding" bindingConfiguration="httpws" contract="SentinelFM.GeomarkServiceRef.IGeomarkService"
        name="httpws" />
      <endpoint address="http://10.10.110.209/GeomarkService.svc/basicbind"
        binding="basicHttpBinding" bindingConfiguration="httpbasic"
        contract="SentinelFM.GeomarkServiceRef.IGeomarkService" name="httpbasic" />

      <endpoint address="net.tcp://192.168.9.9:8732/AeconXAS/" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IAeconXAS" contract="AeconReport.IAeconXAS" name="NetTcpBinding_IAeconXAS">
        <identity>
          <dns value="192.168.9.9"/>
        </identity>
      </endpoint>

    </client>
  </system.serviceModel>

 <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="2147483647"/>
      </webServices>
    </scripting>
  </system.web.extensions>

 <!--<system.webServer xmlns="">
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    </handlers>
  </system.webServer>-->



	</configuration>
